<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>L'exercice de Tatiana !</h1>
    <form method="post" action="">
        <input type="number" name="n" placeholder="Entrer le nombre">
        <input type="number" name="k" placeholder="Entrer le nombre d'iterations">
        <button type="submit" name="submit">
            Send
        </button>
    </form>
    <h1>{{result}}</h1>

</body>
</html>